// Reset

// @font-face {
//     font-family: 'KgTenThousandReasons';
//     src: url('./KgTenThousandReasons-R1ll.ttf') format('truetype');
//   }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 1.15rem;
  }
  

  .link {
    text-decoration: none;
  }

  
// Common styles 

  .page {
    padding: 2rem;
    width: 100%;
    background-color: rgb(41, 41, 41);
    color: rgb(114, 114, 114);
    min-height: 100vh;
  }
  
//   // MAIN
  
//   .main {
//     display: flex;
//     justify-content: center;
//   }