
@font-face {
    font-family: 'HarryPotterFont';
    src: url('./Fonts/HarryPotterFont.ttf') format('truetype');
  }
  

.header {
    width: 80%;
    margin: 2rem auto;

    &__title {
        font-family: 'HarryPotterFont', sans-serif;
        font-size: 9rem;
        letter-spacing: 0.2rem;
        text-align: center;
        margin: 5rem auto;
        color: rgb(196, 159, 40);

        @media all and (min-width: 768px) {
            font-size: 10rem;
        }
    }

    &__paragraph {
        text-align: center;
        
    }
}