
.main__characters {
    max-width: 90vw;

    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.692);
        letter-spacing: 0.2rem;
        text-align: center;
        margin-top: 2rem;
        text-transform: uppercase;
    }

    &__list {
        // display: flex;
        // flex-wrap: wrap;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, 12rem);
        align-items: center;
        justify-content: center;

        @media all and (min-width: 768px) {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit, 18rem);
            align-items: center;
            justify-content: center;
          }
      }
    


    &__list__item {
        list-style: none;
        margin: 0.5rem;
       

        &:hover {
            transform: scale(1.1);
            transition: transform 600ms;
            transition-timing-function: cubic-bezier(0.2, 0.4, 0.7, 0.8);
        }
    }
    
   
}




