

.main__filters {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    column-gap: 2rem;
    // padding: 2rem;
    padding: 0.5rem;
    align-items: left;
    justify-content: top;
    margin: 0 auto;
    

    @media all and (min-width: 768px) {
        max-width: 60vw;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 2rem;
      }
    
}

